<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Notifications</title>
<style>
</style>
</head>

{% block body %}
    <h1 style="font-family: Roboto, cursive; color: #193365">
        {% for mess in message %}
       {{ message }}
        {% endfor %}
    </h1>
{% endblock %}

</html>
