{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <main class="index-admin">
        {% include 'admin/_menu-admin.html.twig' %}
        <div class="form-edit">
            <h1 class="text-center">Ajouter un client</h1>

            {{ include('admin/client/_form.html.twig') }}
        </div>
    </main>
{% endblock %}
