@import "vars";
@import "admin";
@import '../../node_modules/bootstrap/scss/bootstrap';

html {
    scroll-behavior: smooth;
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

$custom-file-text: (fr: "Ajouter");

//NAVBAR MOBILE VIEW

nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .mobile-nav {
        display: flex;
        flex-direction: column;
    }

    a {
        font-family: $titlefont;
        font-size: 18px;
        font-weight: 600;
        color: $primarycolor;
    }
}

//NAVBAR DESKTOP VIEW

@media all and (min-width: 769px) {

    nav {
        margin-left: auto;
        margin-right: auto;
        width: 75%;

        .mobile-nav {
            display: flex;
            flex-direction: row;
        }
    }
}

//HOMEPAGE MOBILE VIEW

.header {
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
    z-index: -1;

    .header-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;

        .function {
            font-family: $textfont;
            font-size: 1rem;
            margin-top: 15px;
            color: $primarycolor;
        }

        img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .container-arrow {
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;

        a.container-arrow {
            justify-content: center;
        }

        .arrow span:nth-child(2) {
            animation-delay: -0.2s;
        }

        .arrow span:nth-child(3) {
            animation-delay: -0.4s;
        }

        @keyframes animate {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }

        .arrow {
            margin-top: 150px;
            transform: translate(-50%, -50%);

            span {
                display: block;
                width: 30px;
                height: 30px;
                border-bottom: 5px solid darkblue;
                border-right: 5px solid darkblue;
                transform: rotate(45deg);
                margin: -10px;
                animation: animate 2s infinite;
            }
        }
    }
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-project {
        text-align: center;
        font-size: 1.3rem;
        font-family: $titlefont;
    }


    .card-project:hover .button-on-hover {
        display: block;
        opacity: 1;
        bottom: 20px;
    }

    .button {
        padding: 10px 25px;
        background-color: $primarycolor;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        text-align: center;
        transition: all 0.2s ease-in-out;
        border: 1px solid transparent;
        font-family: $titlefont;
        font-weight: lighter;
        font-size: 13px;
    }

    .button-on-hover {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        position: absolute;
        bottom: 10px;
        left: 58px;
        width: 160px;
        margin-bottom: 90px;
    }

    .card-project {
        margin-bottom: 20px;
        position: relative;
        background-color: lightgrey;
        box-shadow: 2px 3px 6px lightgrey;
        color: white;

        img {
            height: 270px;
            width: 270px;
            object-fit: cover;
            border: 1px solid lightgray;
        }
    }
}

//HOMEPAGE DESKTOP VIEW

@media all and (min-width: 769px) {

    .header {
        display: flex;
        justify-content: center;
        height: 944px;
        align-items: center;
        z-index: -1;

        .header-picture {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -200px;
            margin-bottom: 0;

            .function {
                font-family: $textfont;
                font-size: 1.25rem;
                margin-top: 15px;
            }

            img {
                width: 285px;
                height: 285px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .container-arrow {
            position: absolute;
            bottom: 0;
            margin-bottom: 30px;

            a.container-arrow {
                justify-content: center;
            }

            .arrow span:nth-child(2) {
                animation-delay: -0.2s;
            }

            .arrow span:nth-child(3) {
                animation-delay: -0.4s;
            }

            @keyframes animate {
                0% {
                    opacity: 0;
                    transform: rotate(45deg) translate(-20px, -20px);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: rotate(45deg) translate(20px, 20px);
                }
            }

            .arrow {
                margin-top: 150px;
                transform: translate(-50%, -50%);

                span {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-bottom: 5px solid darkblue;
                    border-right: 5px solid darkblue;
                    transform: rotate(45deg);
                    margin: -10px;
                    animation: animate 2s infinite;
                }
            }
        }
    }

    .container-projects {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-project {
            text-align: center;
            font-size: 2rem;
            font-family: $titlefont;
        }

        .container-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            width: 75%;

            //Effects on the images

            .zoom img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            .zoom:hover img {
                -webkit-transform: scale(1.02);
                transform: scale(1.02);
            }

            .effect {
                background: white;
            }

            .effect img {
                opacity: 1;
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            .effect:hover img {
                opacity: .5;
            }

            .card-project:hover .button-on-hover {
                display: block;
                opacity: 1;
                bottom: 20px;
            }

            .button-on-hover:hover {
                background-color: white;
                border: 1px solid $primarycolor;
                color: $primarycolor;
            }

            .button {
                padding: 10px 25px;
                background-color: $primarycolor;
                border-radius: 20px;
                color: white;
                text-decoration: none;
                text-align: center;
                transition: all 0.2s ease-in-out;
                border: 1px solid transparent;
                font-family: $titlefont;
                font-weight: lighter;
                font-size: 17px;
            }

            .button-on-hover {
                opacity: 0;
                transition: all 0.2s ease-in-out;
                position: absolute;
                left: 103px;
                width: 190px;
                margin-bottom: 150px;
            }

            .card-project {
                margin: 35px 15px 15px 15px;
                position: relative;
                background-color: lightgrey;
                box-shadow: 2px 3px 6px lightgrey;
                color: white;

                img {
                    height: 400px;
                    width: 400px;
                    object-fit: cover;
                    border: 1px solid lightgray;
                }
            }
        }
    }
}

//PROJECT PAGE MOBILE VIEW
.header-project-page {
    margin-bottom: 50px;

    .main-title {
        font-size: 39px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 40px;
        margin-top: 100px;
    }

    .second-title {
        color: #bcbcbc;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 1.3px;
        line-height: 1.5em;
        margin-top: 3px;
        text-transform: uppercase;
    }

    .project-link {
        text-decoration: none;
        font-size: 18px;
        display: inline-block;
        font-family: $titlefont;
        color: black;
    }

    .project-link::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #000000;
        margin-top: 4px;
    }

    .project-date {
        margin-bottom: 15px;
    }
}

.main-project-page {

    .container-image {
        width: 100%;
        height: auto;
        display: block;

        img {
            vertical-align: middle;
            height: 300px;
            object-fit: cover;
            border-top: 1px solid lightgray;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }
    }

    .container-technos {
        background-color: #1400c1;
        color: white;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;

        .caption {
            padding: 15px;
            font-size: 12px;
            opacity: 0.6;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 1.5em;
            text-transform: uppercase;
        }

        span {
            @include flexCenter(row);

            img {
                height: 32px;
                width: 32px;
                margin: 0 8px 0 8px;
            }
        }
    }

    .second-title {
        color: #bcbcbc;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 1.3px;
        line-height: 1.5em;
        margin-top: 15px;
        text-transform: uppercase;
    }

    //Display the statistics of each techno in a box mobile view
    #stats-languages {
        visibility: hidden;
        min-width: 200px;
        margin-left: -100px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 14px;
    }

    #stats-languages.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 1s 3.1s;
        animation: fadein 0.5s, fadeout 1s 3.1s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

}

.footer-project-page {
    height: 100px;
    margin-top: 100px;

    .footer {
        flex-basis: auto;
        flex-grow: 0;
        align-items: center;
    }
}

.logo-linkedin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.logo-linkedin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;

    img {
        height: 20px;
    }
}

//PROJECT PAGE DESKTOP VIEW

@media all and (min-width: 769px) {

    .header-project-page {
        margin-bottom: 100px;
        margin-top: 90px;

        .project-padding {
            padding-left: 70px;
            padding-right: 70px;

            .show-commit {
                margin-bottom: 20px;
                font-family: $textfont;

                strong {
                    color: $primarycolor;
                    font-weight: normal;
                    margin-left: 5px;
                }
            }
        }

        .main-title {
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: 40px;
        }

        .second-title {
            color: #bcbcbc;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 1.5em;
            margin-top: 3px;
            text-transform: uppercase;
        }

        .project-link {
            text-decoration: none;
            font-size: 18px;
            display: inline-block;
            font-family: $titlefont;
            color: black;
        }

        .project-link::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #000000;
            margin-top: 4px;
        }

        .project-date {
            margin-bottom: 0;
        }
    }
    .main-project-page {

        .container-image {
            margin-left: auto;
            margin-right: auto;
            width: 70%;

            img {
                vertical-align: middle;
                height: 650px;
                object-fit: cover;
                border-top: 1px solid lightgray;
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
            }
        }

        .container-technos {
            background-color: $primarycolor;
            color: white;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 180px;
            margin-bottom: 100px;

            .caption {
                padding: 15px;
                font-size: 14px;
                opacity: 0.6;
                font-weight: 900;
                letter-spacing: 1.3px;
                line-height: 1.5em;
                text-transform: uppercase;
            }

            span {
                @include flexCenter(row);

                img {
                    height: 43px;
                    width: 43px;
                    margin: 0 8px 0 8px;
                }
            }
        }

        .second-title {
            color: #bcbcbc;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 1.5em;
            text-transform: uppercase;
            margin-top: 15px;
        }

        //Display the statistics of each techno in a box desktop view
        #stats-languages {
            visibility: hidden;
            min-width: 275px;
            margin-left: -140px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #stats-languages.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 1s 3.1s;
            animation: fadein 0.5s, fadeout 1s 3.1s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    }

    .footer-project-page {
        height: 100px;
        margin-top: 100px;

        .footer {
            flex-basis: 100%;
            flex-grow: 1;
            align-items: center;
        }
    }

    .logo-linkedin {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 20px;

        img {
            height: 25px;
        }
    }
}


//CONTACT FORM MOBILE VIEW

.message {
    width: 100%;
    margin: 100px auto 0 auto;
    border-radius: 25px;

    h1 {
        padding-top: 25px;
        font-family: $textfont;
    }

    form {
        margin: 10px 10px 25px 10px;
    }

    input {
        box-shadow: 2px 3px 6px lightgrey;
        border-radius: 10px;
    }

    textarea {
        box-shadow: 2px 3px 6px lightgrey;
        border-radius: 10px;
    }


    button {
        background-color: $primarycolor;
        padding: 5px 20px 5px 20px;
        border-radius: 10px;
        color: white;
        font-family: $textfont;
        margin-top: 10px;
    }

    button:hover {
        background-color: white;
        border: 1px solid $primarycolor;
        border-radius: 10px;
        padding: 5px 20px 5px 20px;
        color: $primarycolor;
        text-decoration: none;
        font-family: $textfont;
    }
}

//CONTACT FORM DESKTOP VIEW

@media all and (min-width: 769px) {

    .message {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border-radius: 25px;

        h1 {
            padding: 30px;
            font-family: $textfont;
        }

        form {
            margin: 0 10px 30px 10px;
        }

        input {
            box-shadow: 2px 3px 6px lightgrey;
            border-radius: 10px;
        }

        textarea {
            box-shadow: 2px 3px 6px lightgrey;
            border-radius: 10px;
        }

        button {
            background-color: $primarycolor;
            padding: 8px 22px 7px 22px;
            border-radius: 10px;
            color: white;
            font-family: $textfont;
            margin-top: 10px;
        }

        button:hover {
            background-color: white;
            border: 1px solid $primarycolor;
            border-radius: 10px;
            padding: 8px 22px 7px 22px;
            color: $primarycolor;
            text-decoration: none;
            font-family: $textfont;
        }
    }
}

// MESSAGE FLASH MOBILE VIEW

.alert {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative;

    .iconX {
        position: absolute;
        right: 10px;
        top: 11px;
        font-weight: 600;
    }
}

// MESSAGE FLASH DESKTOP VIEW
@media all and (min-width: 769px) {
    .alert {
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        position: relative;

        .iconX {
            position: absolute;
            right: 20px;
            top: 10px;
            font-weight: 600;
        }
    }
}

// ADMIN EDIT PROJECT FORM MOBILE VIEW

.form-edit {
    background-color: #f2f2f2;
    padding: 30px;
    font-weight: 600;
    font-family: $textfont;

    h1 {
        font-family: $textfont;
        font-size: 1.8rem;
        font-style: oblique;
        font-weight: 700;
    }

    input, textarea, select {
        box-shadow: 2px 3px 6px lightgrey;
        border-radius: 10px;
    }

    input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
    }

    input[type=checkbox] {
        border-radius: 4px;
        height: 15px;
        width: 15px;
        background: #fff;
    }

    input[type="checkbox"]:checked {
        background: yellow;
        position: relative;

        &:before {
            font-family: $titlefont;
            content: '\f00c';
            display: block;
            color: grey;
            font-size: 13px;
            position: absolute;
        }
    }

    .btn {
        font-size: 13px;
    }
}

// ADMIN EDIT PROJECT FORM DESKTOP VIEW
@media all and (min-width: 769px) {

    .form-edit {
        background-color: #f2f2f2;
        padding: 30px;
        font-weight: 600;
        font-family: $textfont;
        position: fixed;
        height: 100%;
        width: 80%;
        right: 0;

        h1 {
            font-family: $textfont;
            font-size: 2.5rem;
            font-style: oblique;
            font-weight: 700;
        }

        input, textarea, select {
            box-shadow: 2px 3px 6px lightgrey;
            border-radius: 10px;
        }

        input[type=checkbox] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
        }

        input[type=checkbox] {
            border-radius: 4px;
            height: 15px;
            width: 15px;
            background: #fff;
        }

        input[type="checkbox"]:checked {
            background: yellow;
            position: relative;

            &:before {
                font-family: $textfont;
                content: '\f00c';
                display: block;
                color: grey;
                font-size: 13px;
                position: absolute;
            }
        }

        .btn {
            font-size: 1rem;
        }
    }
}
