// Fonts
$titlefont: 'Fira Sans', sans-serif;
$textfont: 'Montserrat', sans-serif;
//Color
$primarycolor: #1400c1;

//NAVBAR MOBILE VIEW

nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    a {
        font-family: $titlefont;
        font-size: 18px;
        font-weight: 600;
    }
}

//NAVBAR DESKTOP VIEW

@media all and (min-width: 769px) {

    nav {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

//HOMEPAGE MOBILE VIEW

.header {
    display: flex;
    justify-content: center;
    height: 240px;
    align-items: center;
    z-index: -1;

    .header-picture {
        display: flex;
        flex-direction: column;
        align-items: center;

        .function {
            font-family: $textfont;
            font-size: 1rem;
            margin-top: 15px;
            color: $primarycolor;
        }

        img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .container-arrow {

        justify-content: center;

        .arrow {

            span {
                display: none;
                color: $primarycolor;
            }
        }
    }
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-project {
        text-align: center;
        font-size: 1.3rem;
        font-family: $titlefont;
    }

    .card-project {
        margin-bottom: 20px;

        img {
            height: 270px;
            width: 270px;
            object-fit: cover;
            position: relative;
        }

        span {
            position: absolute;
            z-index: 1;
            color: $primarycolor;
        }
    }
}

//HOMEPAGE DESKTOP VIEW

@media all and (min-width: 769px) {

    .header {
        display: flex;
        justify-content: center;
        height: 944px;
        align-items: center;
        z-index: -1;

        .header-picture {
            display: flex;
            flex-direction: column;
            align-items: center;

            .function {
                font-family: $textfont;
                font-size: 1.25rem;
                margin-top: 15px;
            }

            img {
                width: 285px;
                height: 285px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .container-arrow {
            justify-content: center;
            margin-top: 100px;

            .arrow {
                margin-top: 150px;

                span {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-bottom: 5px solid darkblue;
                    border-right: 5px solid darkblue;
                    transform: rotate(45deg);
                    margin: -10px;
                    animation: animate 2s infinite;
                }
            }
        }
    }

    .container-projects {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-project {
            text-align: center;
            font-size: 2rem;
            font-family: $titlefont;
        }

        .container-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            width: 75%;

            .card-project {
                margin: 35px 15px 15px 15px;

                img {
                    height: 400px;
                    width: 400px;
                    object-fit: cover;
                    position: relative;
                }

                span {
                    position: absolute;
                    z-index: 1;
                }
            }
        }
    }
}

//PROJECT PAGE MOBILE VIEW
.header-project-page {
    margin-bottom: 50px;

    .main-title {
        font-size: 39px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 40px;
        margin-top: 100px;
        margin-left: 0;
    }

    .second-title {
        color: #bcbcbc;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 1.3px;
        line-height: 1.5em;
        margin-top: 3px;
        text-transform: uppercase;
    }

    .project-link {
        text-decoration: none;
        font-size: 18px;
        display: inline-block;
        font-family: $titlefont;
        color: black;
    }

    .project-link::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #000000;
        margin-top: 4px;
    }
}

.main-project-page {

    .container-image {
        width: 100%;
        height: auto;
        display: block;

        img {
            border: none;
            vertical-align: middle;
            height: 300px;
            object-fit: cover;
        }
    }

    .container-technos {
        background-color: #1400c1;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;

        .caption {
            padding: 15px;
            font-size: 14px;
            opacity: 0.6;
            color: #e0e0e0;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 1.5em;
            margin-top: 3px;
            text-transform: uppercase;
        }
    }
    .second-title {
        color: #bcbcbc;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 1.3px;
        line-height: 1.5em;
        margin-top: 3px;
        text-transform: uppercase;
    }
}

.footer-project-page {
    height: 100px;
    margin-top: 100px;
}

.logo-linkedin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.logo-linkedin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    img {
        height: 30px;
    }
}

//PROJECT PAGE DESKTOP VIEW

@media all and (min-width: 769px) {

    .header-project-page {
        margin-bottom: 100px;
        margin-top: 90px;

        .project-padding {
            padding-left: 70px;
            padding-right: 70px;
        }

        .main-title {
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: 40px;
            margin-left: 75px;
        }

        .second-title {
            color: #bcbcbc;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 1.5em;
            margin-top: 3px;
            text-transform: uppercase;
        }

        .project-link {
            text-decoration: none;
            font-size: 18px;
            display: inline-block;
            font-family: $titlefont;
            color: black;
        }

        .project-link::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #000000;
            margin-top: 4px;
        }
    }
    .main-project-page {

        .container-image {
            margin-left: auto;
            margin-right: auto;
            width: 70%;

            img {
                border: none;
                vertical-align: middle;
                height: 650px;
                object-fit: cover;
            }
        }

        .container-technos {
            background-color: #1400c1;
            color: white;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 150px;
            margin-bottom: 100px;

            .caption {
                padding: 15px;
                font-size: 14px;
                opacity: 0.6;
                color: #e0e0e0;
                font-weight: 900;
                letter-spacing: 1.3px;
                line-height: 1.5em;
                margin-top: 3px;
                text-transform: uppercase;
            }
        }
        .second-title {
            color: #bcbcbc;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 1.5em;
            margin-top: 3px;
            text-transform: uppercase;
        }
    }
    .footer-project-page {
        height: 100px;
        margin-top: 100px;
    }

    .logo-linkedin {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 20px;
        img {
            height: 25px;
        }
    }
}


@import "~bootstrap/scss/bootstrap";