{% extends 'base.html.twig' %}

{% block title %}Edit Projects{% endblock %}

{% block body %}
    <main>
        <div class="form-edit">
            <h1 class="text-center">Editer le Projet</h1>
            {{ include('admin/project/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {{ include('admin/project/_delete_form.html.twig') }}
        </div>
    </main>
{% endblock %}
