{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <main class="form-edit">
        <h1 class="text-center">Créer un nouveau Projet</h1>

        {{ include('admin/project/_form.html.twig') }}

    </main>
{% endblock %}
