{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    <h1 class="text-center">Contact</h1>
                {{ include('message/_form.html.twig') }}
                <a href="{{ path('app_homeIndex') }}">Retour</a>
{% endblock %}
