{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    <div class="message">
    <h1 class="text-center">Contact</h1>
                {{ include('message/_form.html.twig') }}
    </div>
{% endblock %}
