{% if info == "languages" %}
    {% set total = 0 %}
    {% for stat in stats  %}
        {% set total = total + stat %}
    {% endfor %}

        {% for name,stat in stats  %}
            <p>{{ name }}:  {{ (stat*100/total)|round }}%</p>
        {% endfor %}

{% endif %}

{% if info == 'contributors' %}
    {% set total = 0 %}
    {% for stat in stats  %}
        {% set total = total + stat.contributions %}
    {% endfor %}
        Nombre de commits : <strong> {{ total }}</strong>
{% endif %}